@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@{
    ViewBag.Title = "About";
}
<div class="wheel-start3">
    <img src="images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>About Us</h3>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#"> pages </a></li>
                        <li class="active">About</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////////////////////////// -->
<div class="container padd-lr0">
    <div class="row">
        <div class="col-md-6 ">
            <div class="wheel-info-img  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100">
                <img src="images/i7.png" alt="" class="wheel-img">
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="wheel-info-text  marg-lg-t150 marg-lg-b150 marg-md-t100 marg-md-b100 marg-sm-t50 marg-sm-b50">
                <div class="wheel-header">
                    <h5>Who we are  </h5>
                    <h3>We Love Our <span>Customers</span></h3>
                </div>
                <span>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. </span>
                <p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam </p>
                <a href="" class="wheel-btn">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////////////////////////////////// -->
<div class="wheel-bg2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-header wheel-testi-header text-center marg-lg-t145 marg-lg-b65 marg-md-t100 marg-sm-t50 marg-md-b50">
                    <h3>Our Mission is <span>Client’s</span> Satisfaction</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-testimonial text-center">
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                    <div class="wheel-testimonial-info">
                        <span>Srikanth Chippa</span>
                        <img src="images/l1.png" alt="">
                        <p> C.E.O. & Co-Founder</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 padd-lr0 ">
                <div class="wheel-testimonial-item marg-lg-b150 marg-md-b100 marg-sm-b50 ">
                    <i class="fa fa-users"></i>
                    <span data-to="753" data-speed="10000"></span><b>+</b>
                    <p>Dedicated Employees</p>
                </div>
                <div class="wheel-testimonial-item marg-lg-b150 marg-md-b100 marg-sm-b50">
                    <i class="fa fa-thumbs-o-up"></i>
                    <span data-to="9053" data-speed="5000"></span><b>+</b>
                    <p>Satisfied Customers</p>
                </div>
                <div class="wheel-testimonial-item marg-lg-b150 marg-md-b100 marg-sm-b50">
                    <i class="fa  fa-car"></i>
                    <span data-to="529" data-speed="6000"></span><b>+</b>
                    <p>100% Fit Veihicles</p>
                </div>
                <div class="wheel-testimonial-item marg-lg-b150 marg-md-b100 marg-sm-b50">
                    <i class="fa fa-trophy"></i>
                    <span data-to="111" data-speed="1000"></span><b>+</b>
                    <p>Int. Awards Achieved</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //////////////////////////////////////////// -->
<div class="container">
    <div class="row">
        <div class="col-md-6 padd-lr0">
            <div class="wheel-skills marg-lg-b150 marg-sm-b50">
                <div class="wheel-header marg-lg-t140 marg-lg-b55 marg-sm-t50">
                    <h5>Our Capibilities </h5>
                    <h3>We have great<span> Skills</span></h3>
                </div>
                <div class="wheel-skills-info">
                    <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                    <ul>
                        <li class="clearfix">
                            <span>Management<i>83%</i></span>
                            <div class="wheel-interest-body">
                                <div class="wheel-interest" data-size='83'></div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <span>Efficiencyy<i>76%</i></span>
                            <div class="wheel-interest-body">
                                <div class="wheel-interest" data-size='76'></div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <span>Men Power<i>90%</i></span>
                            <div class="wheel-interest-body">
                                <div class="wheel-interest" data-size='90'></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 padd-lr0">
            <div class="wheel-skills-accordion marg-lg-t150 marg-lg-b135 marg-sm-t50 marg-sm-b50">
                <div class="wpc-accordion">
                    <div class="panel-wrap active">
                        <h5 class="panel-title">We are Passionate <span></span></h5>
                        <div class="panel-content">
                            Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit
                        </div>
                    </div>
                    <div class="panel-wrap">
                        <h5 class="panel-title">We are Dedicated <span></span></h5>
                        <div class="panel-content">
                            Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit
                        </div>
                    </div>
                    <div class="panel-wrap">
                        <h5 class="panel-title">We ensure the best <span></span></h5>
                        <div class="panel-content">
                            Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////// -->
<div class="wheel-bg2">
    <div class="container padd-lr0">
        <div class="row">
            <div class="col-xs-12">
                <div class="wheel-header text-center marg-lg-t145 marg-sm-t50 marg-lg-b90">
                    <h5>Memebers </h5>
                    <h3>Our Excellent <span>Team</span></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="wheel-team text-center marg-lg-b150 marg-sm-b50">
                    <div class="wheel-team-logo"><img src="images/i20.jpg" alt=""></div>
                    <div class="wheel-team-info ">
                        <h5>Kandriga Lalith</h5>
                        <span> Founder</span>
                        <ul>
                            <li><a href="" class="fa fa-twitter"></a></li>
                            <li><a href="" class="fa fa-facebook"></a></li>
                            <li><a href="" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="wheel-team text-center marg-lg-b150 marg-sm-b50">
                    <div class="wheel-team-logo"><img src="images/i21.jpg" alt=""></div>
                    <div class="wheel-team-info ">
                        <h5>Srikanth Chippa </h5>
                        <span>C.E.O & Co-Founder</span>
                        <ul>
                            <li><a href="" class="fa fa-twitter"></a></li>
                            <li><a href="" class="fa fa-facebook"></a></li>
                            <li><a href="" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="wheel-team text-center marg-lg-b150 marg-sm-b50">
                    <div class="wheel-team-logo"><img src="images/i22.jpg" alt=""></div>
                    <div class="wheel-team-info ">
                        <h5>Md Ghori</h5>
                        <span>Director</span>
                        <ul>
                            <li><a href="" class="fa fa-twitter"></a></li>
                            <li><a href="" class="fa fa-facebook"></a></li>
                            <li><a href="" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="wheel-team text-center marg-lg-b150 marg-sm-b50">
                    <div class="wheel-team-logo"><img src="images/i23.jpg" alt=""></div>
                    <div class="wheel-team-info ">
                        <h5>Naimisha S</h5>
                        <span> Manager</span>
                        <ul>
                            <li><a href="" class="fa fa-twitter"></a></li>
                            <li><a href="" class="fa fa-facebook"></a></li>
                            <li><a href="" class="fa fa-instagram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////// -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 padd-lr0">
            <div class="wheel-partners text-center marg-lg-b150 marg-sm-b50 marg-lg-t150 marg-sm-t50">
                <a href=""><img src="images/p7.png" alt=""></a>
                <a href=""><img src="images/p8.png" alt=""></a>
                <a href=""><img src="images/p9.png" alt=""></a>
                <a href=""><img src="images/p10.png" alt=""></a>
                <a href=""><img src="images/p11.png" alt=""></a>
                <a href=""><img src="images/p12.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////// -->
<div class="wheel-subscribe wheel-bg2">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 padd-lr0">
                <div class="wheel-header">
                    <h5>Newsletter Signup </h5>
                    <h3>Subscribe & get<span> 20% </span> Off</h3>
                </div>
            </div>
            <div class="col-md-6 padd-lr0">
                <form action="#">
                    <input type="text" placeholder="Your Email Adddress">
                    <button class="wheel-btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
