
@{
    ViewBag.Title = "NewsDetails";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

        <!-- //////////////////////////////// -->
<div class="wheel-start3">
    <img src="images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Our Blog</h3>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#"> pages </a></li>
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////// -->
<div class="wheel-blog-wrap marg-lg-t150  marg-sm-t50">
    <div class="container  ">
        <div class="row">
            <div class="col-md-8  padd-lr0 ">
                <article class="wheel-blog-item wheel-blog-post-item">
                    <div class="wheel-blog-data">
                        <i>29 April</i>
                    </div>
                    <div class="wheel-blog-logo"><img src="images/i24.jpg" alt=""></div>
                    <header class="wheel-blog-header">
                        <h5>Seamlessly generate focused content for robust infrastructures Credibly</h5>
                    </header>
                    <div class="wheel-blog-links clearfix">
                        <ul>
                            <li><a href="" class="fa fa-user">Anthony Doe</a></li>
                            <li><a href="" class="fa fa-tags">Shopping, Branding</a></li>
                            <li><a href="" class="fa fa-comments">17 Comments</a></li>
                        </ul>
                    </div>
                    <div class="wheel-blog-info">
                        <span>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet vulputate cursus a sit amet mauris. </span>
                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. </p>
                        <blockquote class="fa fa-quote-left">
                            <p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</p>
                        </blockquote>
                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.</p>
                    </div>
                </article>
                <div class="wheel-comments-area wheel-bg1">
                    <div class="wheel-comments-title">
                        <h3><span>(12)</span> Comments</h3>
                    </div>
                    <div class="wheel-comments-list">
                        <ul>
                            <li>
                                <div class="wheel-comment-body">
                                    <div class="clearfix">
                                        <div class="comment-author"><img src="images/l3.png" alt=""><a href="">Anthony Martial</a></div>
                                        <div class="comment-metadata">
                                            <time datetime="2015-01-10T20:15:40+00:00">  13:05, May 27</time>
                                            <a href="">Reply</a>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="wheel-sub-comment">
                                    <div class="wheel-comment-body">
                                        <div class="clearfix">
                                            <div class="comment-author"><img src="images/l4.png" alt=""><a href="">Katherine Sanders</a></div>
                                            <div class="comment-metadata">
                                                <time datetime="2015-01-10T20:15:40+00:00">  13:05, May 27</time>
                                                <a href="">Reply</a>
                                            </div>
                                        </div>
                                        <div class="comment-content">
                                            <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu.</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="wheel-comment-body">
                                    <div class="clearfix">
                                        <div class="comment-author"><img src="images/l5.png" alt=""><a href="">Vicki Rogers</a></div>
                                        <div class="comment-metadata">
                                            <time datetime="2015-01-10T20:15:40+00:00">  13:05, May 27</time>
                                            <a href="">Reply</a>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <section class="wheel-reply-form wheel-bg1 marg-lg-b145 marg-sm-b50">
                    <header>
                        <h3>Leave a Reply</h3>
                    </header>
                    <form action="#">
                        <input type="text" placeholder="Your Name *">
                        <input type="text" placeholder="Your Email *">
                        <textarea placeholder="Your Message *"></textarea>
                        <button>Submit Now</button>
                    </form>
                </section>
            </div>
            <div class="col-md-4">
                <aside class="wheel-widgets">
                    <div class="wheel-widget-search">
                        <div class="form">
                            <input type="text" placeholder="Search ..">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <section class="wheel-widget-categories">
                        <header>
                            <h5>Categories</h5>
                        </header>
                        <ul>
                            <li class=""><a href="">Blogging </a> <i>11</i></li>
                            <li class=""><a href=""> Transports </a><i>19</i></li>
                            <li class=""><a href="">Excotic Cars</a><i>08</i></li>
                            <li class=""><a href=""> Travelling</a><i>29</i></li>
                            <li class=""><a href="">WooCommerce </a><i>05</i></li>
                            <li class=""><a href="">News</a> <i>11</i></li>
                        </ul>
                    </section>
                    <section class="wheel-widget-posts">
                        <header>
                            <h5>Popular Posts</h5>
                        </header>
                        <ul>
                            <li>
                                <a href="" class="wheel-post clearfix">
                                    <div class="wheel-post-img"><img src="images/ico11.jpg" alt=""></div>
                                    <div class="wheel-post-content">
                                        <h6>Monotonectally build  distinctive </h6>
                                        <span class="wheel-date fa fa-calendar">May 30</span>
                                        <span class="wheel-comment fa fa-comments">27</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="wheel-post clearfix">
                                    <div class="wheel-post-img"><img src="images/ico12.jpg" alt=""></div>
                                    <div class="wheel-post-content">
                                        <h6>Monotonectally build  distinctive </h6>
                                        <span class="wheel-date fa fa-calendar">May 30</span>
                                        <span class="wheel-comment fa fa-comments">27</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="wheel-post clearfix">
                                    <div class="wheel-post-img"><img src="images/ico13.jpg" alt=""></div>
                                    <div class="wheel-post-content">
                                        <h6>Monotonectally build  distinctive </h6>
                                        <span class="wheel-date fa fa-calendar">May 30</span>
                                        <span class="wheel-comment fa fa-comments">27</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </section>
                    <section class="wheel-tags">
                        <header>
                            <h5>tags Cloud</h5>
                        </header>
                        <a href="" class="wheel-tag">News</a>
                        <a href="" class="wheel-tag">Porsche</a>
                        <a href="" class="wheel-tag">trevelling</a>
                        <a href="" class="wheel-tag">Marcedes-benz</a>
                        <a href="" class="wheel-tag">Cars</a>
                        <a href="" class="wheel-tag">Hyundai</a>
                        <a href="" class="wheel-tag">Land Rovers</a>
                        <a href="" class="wheel-tag">Mclaren</a>
                        <a href="" class="wheel-tag">Toyota</a>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////// -->
<div class="wheel-subscribe wheel-bg1">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 padd-lr0">
                <div class="wheel-header">
                    <h5>Newsletter Signup </h5>
                    <h3>Subscribe & get<span> 20% </span> Off</h3>
                </div>
            </div>
            <div class="col-md-6 padd-lr0">
                <form action="#">
                    <input type="text" class="wheel-border1" placeholder="Your Email Adddress">
                    <button class="wheel-btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>

