
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

        <!-- //////////////////////////////// -->
<div class="wheel-start3">
    <img src="images/bg7.jpg" alt="" class="wheel-img">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-start3-body clearfix marg-lg-t255 marg-lg-b75 marg-sm-t190 marg-xs-b30">
                    <h3>Our Blog</h3>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#"> pages </a></li>
                        <li class="active">Blog</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////// -->
<div class="wheel-blog-wrap marg-lg-t150  marg-sm-t50">
    <div class="container  ">
        <div class="row">
            <div class="col-md-8  padd-lr0">
                <article class="wheel-blog-item">
                    <div class="wheel-blog-data">
                        <i>29 April</i>
                    </div>
                    <div class="wheel-blog-logo"><img src="images/i24.jpg" alt=""></div>
                    <header class="wheel-blog-header">
                        <h5><a href="news-details.html">Seamlessly generate focused content for robust infrastructures Credibly</a></h5>
                    </header>
                    <div class="wheel-blog-info">
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt </p>
                    </div>
                    <footer class="wheel-blog-links clearfix">
                        <ul>
                            <li><i class="fa fa-user"></i><a href="" class="">Anthony Doe</a></li>
                            <li><i class="fa fa-tags"></i><a href="" class="">Shopping, Branding</a></li>
                            <li><i class="fa fa-comments"></i><a href="" class="">17 Comments</a></li>
                        </ul>
                        <a href="" class="wheel-read-more">Read More </a>
                    </footer>
                </article>
                <article class="wheel-blog-item">
                    <div class="wheel-blog-data">
                        <i>29 April</i>
                    </div>
                    <div class="wheel-blog-logo">
                        <div class="swiper-container" data-autoplay="7000" data-touch="1" data-mouse="0" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="1" data-slides-per-view="responsive" data-loop="1" data-speed="1000">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="wheel-blog-slides"><img src="images/i24.jpg" alt=""></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wheel-blog-slides"><img src="images/i25.jpg" alt=""></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wheel-blog-slides"><img src="images/i26.jpg" alt=""></div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="wheel-blog-slides"><img src="images/i24.jpg" alt=""></div>
                                </div>
                            </div>
                            <div class="pagination"></div>
                            <div class="swiper-arrow-left fa fa-angle-left"></div>
                            <div class="swiper-arrow-right fa fa-angle-right"></div>
                        </div>
                    </div>
                    <header class="wheel-blog-header">
                        <h5><a href="news-details.html">Distinctively communicate customized services without granular human capital</a></h5>
                    </header>
                    <div class="wheel-blog-info">
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt </p>
                    </div>
                    <footer class="wheel-blog-links clearfix">
                        <ul>
                            <li><i class="fa fa-user"></i><a href="" class="">Anthony Doe</a></li>
                            <li><i class="fa fa-tags"></i><a href="" class="">Shopping, Branding</a></li>
                            <li><i class="fa fa-comments"></i><a href="" class="">17 Comments</a></li>
                        </ul>
                        <a href="" class="wheel-read-more">Read More </a>
                    </footer>
                </article>
                <article class="wheel-blog-item">
                    <div class="wheel-blog-data">
                        <i>29 April</i>
                    </div>
                    <div class="wheel-blog-logo wheel-video">
                        <iframe src="https://www.youtube.com/embed/AlA_EKqDOFM"></iframe>
                    </div>
                    <header class="wheel-blog-header">
                        <h5><a href="news-details.html">Credibly synthesize prospective experiences whereas alternative action items Competently</a></h5>
                    </header>
                    <div class="wheel-blog-info">
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt </p>
                    </div>
                    <footer class="wheel-blog-links clearfix">
                        <ul>
                            <li><i class="fa fa-user"></i><a href="" class="">Anthony Doe</a></li>
                            <li><i class="fa fa-tags"></i><a href="" class="">Shopping, Branding</a></li>
                            <li><i class="fa fa-comments"></i><a href="" class="">17 Comments</a></li>
                        </ul>
                        <a href="" class="wheel-read-more">Read More </a>
                    </footer>
                </article>
                <article class="wheel-blog-item">
                    <div class="wheel-blog-data">
                        <i>29 April</i>
                    </div>
                    <div class="wheel-blog-logo wheel-audio">
                        <iframe src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F34019569&amp;auto_play=false&amp;show_artwork=true&amp;color=0066cc"></iframe>
                    </div>
                    <header class="wheel-blog-header">
                        <h5><a href="news-details.html">Objectively restore error-free meta-services with just  in time</a></h5>
                    </header>
                    <div class="wheel-blog-info">
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt </p>
                    </div>
                    <footer class="wheel-blog-links clearfix">
                        <ul>
                            <li><i class="fa fa-user"></i><a href="" class="">Anthony Doe</a></li>
                            <li><i class="fa fa-tags"></i><a href="" class="">Shopping, Branding</a></li>
                            <li><i class="fa fa-comments"></i><a href="" class="">17 Comments</a></li>
                        </ul>
                        <a href="" class="wheel-read-more">Read More </a>
                    </footer>
                </article>
                <article class="wheel-blog-item">
                    <div class="wheel-blog-data">
                        <i>29 April</i>
                    </div>
                    <div class="wheel-blog-logo"><img src="images/i26.jpg" alt=""></div>
                    <header class="wheel-blog-header">
                        <h5><a href="news-details.html">Professionally productivate extensive leadership without web-enabled content</a></h5>
                    </header>
                    <div class="wheel-blog-info">
                        <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt </p>
                    </div>
                    <footer class="wheel-blog-links clearfix">
                        <ul>
                            <li><i class="fa fa-user"></i><a href="" class="">Anthony Doe</a></li>
                            <li><i class="fa fa-tags"></i><a href="" class="">Shopping, Branding</a></li>
                            <li><i class="fa fa-comments"></i><a href="" class="">17 Comments</a></li>
                        </ul>
                        <a href="" class="wheel-read-more">Read More </a>
                    </footer>
                </article>
            </div>
            <div class="col-md-4">
                <aside class="wheel-widgets">
                    <div class="wheel-widget-search">
                        <div class="form">
                            <input type="text" placeholder="Search ..">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <section class="wheel-widget-categories">
                        <header>
                            <h5>Categories</h5>
                        </header>
                        <ul>
                            <li class=" clearfix"><a href="">Blogging </a> <i>11</i></li>
                            <li class=" clearfix"><a href=""> Transports </a><i>19</i></li>
                            <li class=" clearfix"><a href="">Excotic Cars</a><i>08</i></li>
                            <li class=" clearfix"><a href=""> Travelling</a><i>29</i></li>
                            <li class=" clearfix"><a href="">WooCommerce </a><i>05</i></li>
                            <li class=" clearfix"><a href="">News</a> <i>11</i></li>
                        </ul>
                    </section>
                    <section class="wheel-widget-posts">
                        <header>
                            <h5>Popular Posts</h5>
                        </header>
                        <ul>
                            <li>
                                <a href="" class="wheel-post clearfix">
                                    <div class="wheel-post-img"><img src="images/ico11.jpg" alt=""></div>
                                    <div class="wheel-post-content">
                                        <h6>Monotonectally build  distinctive </h6>
                                        <span class="wheel-date fa fa-calendar">May 30</span>
                                        <span class="wheel-comment fa fa-comments">27</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="wheel-post clearfix">
                                    <div class="wheel-post-img"><img src="images/ico12.jpg" alt=""></div>
                                    <div class="wheel-post-content">
                                        <h6>Monotonectally build  distinctive </h6>
                                        <span class="wheel-date fa fa-calendar">May 30</span>
                                        <span class="wheel-comment fa fa-comments">27</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="" class="wheel-post clearfix">
                                    <div class="wheel-post-img"><img src="images/ico13.jpg" alt=""></div>
                                    <div class="wheel-post-content">
                                        <h6>Monotonectally build  distinctive </h6>
                                        <span class="wheel-date fa fa-calendar">May 30</span>
                                        <span class="wheel-comment fa fa-comments">27</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </section>
                    <section class="wheel-tags">
                        <header>
                            <h5>tags Cloud</h5>
                        </header>
                        <a href="" class="wheel-tag">News</a>
                        <a href="" class="wheel-tag">Porsche</a>
                        <a href="" class="wheel-tag">trevelling</a>
                        <a href="" class="wheel-tag">Marcedes-benz</a>
                        <a href="" class="wheel-tag">Cars</a>
                        <a href="" class="wheel-tag">Hyundai</a>
                        <a href="" class="wheel-tag">Land Rovers</a>
                        <a href="" class="wheel-tag">Mclaren</a>
                        <a href="" class="wheel-tag">Toyota</a>
                    </section>
                </aside>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 padd-lr0">
                <div class="wheel-page-pagination marg-lg-t60 marg-lg-b150  marg-sm-b50">
                    <a class="prev page-numbers fa fa-arrow-left" href="#"></a>
                    <a class="page-numbers" href="#">1</a>
                    <span class="page-numbers current">2</span>
                    <a class="page-numbers" href="#">3</a>
                    <a class="page-numbers" href="#">4</a>
                    <a class="next page-numbers fa fa-arrow-right" href="#"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /////////////////////////////// -->
<div class="wheel-subscribe wheel-bg1">
    <div class="container ">
        <div class="row">
            <div class="col-md-6 padd-lr0">
                <div class="wheel-header">
                    <h5>Newsletter Signup </h5>
                    <h3>Subscribe & get<span> 20% </span> Off</h3>
                </div>
            </div>
            <div class="col-md-6 padd-lr0">
                <form action="#">
                    <input type="text" class="wheel-border1" placeholder="Your Email Adddress">
                    <button class="wheel-btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>

